@import "tailwindcss";

@theme {
  --font-default: var(--font-outfit);
  --font-default-rtl: var(--font-noto-kufi-arabic);
}

@utility container {
  padding-inline: 16px;
  margin-inline: auto;
  max-width: 80rem;
}

body {
  @apply font-default rtl:font-default-rtl
}

.app-content {
  @apply min-h-[720px]
}